<div>

    <h1>{{jumper.name}}'s Logbook</h1>

    
    <div>

        {{#each jumper.jumps}}
        <ul>
       <li> {{this.jumpNumber}}  -  {{this.jumpName}}     -      {{this.exitAltitude}}  -  {{this.deployAltitude}} </li>
        </ul>
        {{/each}}
    </div>
</div>