<div>

    <h1>{{jumper.name}}'s Logbook</h1>


    <div>

        {{#each jumper.jumps}}
        <ul>
            <li> {{this.jumpNumber}} - {{this.jumpName}} - {{this.exitAltitude}} - {{this.deployAltitude}}
               <button class ="waves-effect waves-light btn"><a href="/jumpers/{{../jumper._id}}/jumps/{{this._id}}">{{this.name}} Info</a></button>

        </ul>
        {{/each}}
    </div>
    <button class="waves-effect waves-light btn"><a href="/jumpers/{{jumper._id}}/jumps/new">Create Jump</a></button>

</div>