<div>
    <h1>{{jumper.name}}</h1>
    
    <div>Number: {{jump.jumpNumber}}</div>
    <div>Name: {{jump.jumpName}}</div>
    <div>Exit Altitude: {{jump.exitAltitude}}</div>
    <div>Deploy Altitude: {{jump.deployAltitude}}</div>
    <div>Accuracy: {{jump.accuracy}}</div>
    <div>Improvement Points: {{jump.notes}}</div>
    
    <div>
       <button class="waves-effect waves-light btn"            ><a href="/jumpers">Back to jumpers</a></button>
    </div>
    {{!-- <div>
        <button><a href="/jumpers/{{jumper._id}}/jumps/{{jump._id}}/delete">Delete</a></button>
        <button><a href="/jumpers/{{jumper._id}}/jumps/{{jump._id}}/edit">Edit</a></button>
    </div> --}}
   
</div>