<div>
    <h1>{{jumper.name}}</h1>

    <div>Total: {{jumper.totalJumps}}</div>
    <div>Licence: {{jumper.licence}}</div>
    <div>Freefall Time(minutes): {{jumper.freefallTime}}</div>

    <div>
        <a href="/jumpers/{{jumper._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/jumpers/{{jumper._id}}/jumps">Jump Info</a>
    </div>
    <div>
        <a href="/jumper/{{jumper._id}}/delete">Delete</a>
    </div>


</div>